#grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 10px;
  background-color: white;
  padding: 10px;
}
#grid div {
  background-color: green;
  color: white;
  font-size: 32px;
  padding: 20px;
}
/* Grid positioning */
#grid div:nth-child(1) {
  grid-column: 1 / -1;
}

#grid div:nth-child(2) {
  grid-row: 2 / 6;
}

#grid div:nth-child(3) {
  grid-column: 2 / 3;
}

#grid div:nth-child(4) {
  grid-column: 3 / -1;
}

#grid div:nth-child(5) {
  grid-column: 2 / 4;
}

#grid div:nth-child(6) {
  grid-column: 4 / 5;
}

#grid div:nth-child(7) {
  grid-column: 2 / 3;
}

#grid div:nth-child(8) {
  grid-column: 3 / 4;
}

#grid div:nth-child(9) {
  grid-column: 4 / 5;
}

#grid div:nth-child(10) {
  grid-column: 2 / -1;
}